.about-main-container {
    padding-inline: var(--padding-LR);
    padding-block: var(--padding-TB);
}

.about-banner-container {
    background-image: url('../../assets/images/Beautiful-Mountain-Nature-Colorful-Scenery-Minimalist-Digital-Art.jpg');
    height: 660px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 8px 8px 12px #000047ba;
}

.about-banner-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.about-banner-content-heading {
    font-size: var(--banner-heading-font-size);
    text-transform: uppercase;
    font-weight: var(--bold-main);
    letter-spacing: var(--banner-heading-letter-spacing);
}

.about-us-container {
    padding-block: var(--padding-TB);
}

.sucess-story-container {
    background-color: var(--color-blue-white);
    border-radius: 32px;
    overflow: hidden;
    padding-block: var(--padding-TB);
    padding-inline: var(--padding-LR);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sucess-story {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

.counting-UI {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.memory-lane-container {
    padding-block: var(--padding-TB);
    padding-inline: var(--padding-LR);
}

.memory-lane-image-row {
    display: flex;
    min-height: auto;
    gap: 12px;
}

.middle-image {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.image-30 {
    height: 500px;
    width: 500px;
}

.image-30 img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: 100% 100%;
    transition: all 2s ease;
}

.image-30 img:hover {
    transform: scale(1.4);
}

.image-40 {
    width: 560px;
    height: 243px;
}

.image-40 img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: 100% 100%;
    transition: all 2s ease;
}

.image-40 img:hover {
    transform: scale(1.4);
}

.agencies-container {
    padding-block: var(--padding-TB);
    padding-inline: var(--padding-LR);
}

.agencies-inner-container {
    padding-block: var(--padding-TB);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .about-banner-content-heading   {
        font-size: 48px;
    }
    .sucess-story-container {
        display: flex;
        flex-direction: column;
    }
    .memory-lane-image-row {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .middle-image {
        display: flex;
        gap: 0;
    }
    .image-30 {
        width: auto;
    }
    .image-40 {
        height: 500px;
        width: auto;
    }
    .agencies-inner-container {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    .agencies-inner-container div iframe {
        width: 400px;
    }
}

@media (max-width: 556px) {
    .about-banner-container {
        height: 500px;
    }
    .about-banner-content-heading {
        font-size: 36px;
    }
}
